{{!-- Random beverage show based off of your selections --}}
        {{!-- <li><a href="/api/users/logout" class="waves-effect waves-light btn light-blue darken-1">Log Out</a></li>
      </ul> --}}

      <!-- hamburger menu trigger -->
      {{!-- <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a> --}}
    {{!-- </div>
  </nav> --}}

<!-- main page content -->
  <main>
    <!-- parallax -->
    <div class="parallax-container">
      <div class="parallax"><img src="/images/erol-ahmed-54hUU5pNSvo-unsplash.jpeg"></div>
    </div>
    <div class="section white">
      <!-- UPDATED card row -->
      <div class="beverage-row">
        
        <!-- UPDATED beverage card -->
        <div class="col s12">
          <div class="card col s12">
            <div class="card-image">
                <img src= {{image}}>
                <span class="card-title">{{beverage}}</span>
              </div>
              <div class="card-content">
                <p>{{info}}</p>
              </div>
          </div>
        </div>
      </div>

    </div>      
    
  </main>