<div class="section white">
  <!-- UPDATED card row -->
  <div class="beverage-row">
    <!-- UPDATED beverage card -->
    <div class="col s12">
      <div class="card col s12">
        <div class="card-image">
            <img src= {{beverage_data.image}}>
            <span class="card-title">{{beverage_data.beverage}}</span>
          </div>
          <div class="card-content">
            <p>{{beverage_data.info}}</p>
          </div>
      </div>
    </div>
  </div>
</div>  