{{!-- Also Known as the "Landing Page" Per KIRA --}}

  <!-- nav bar -->
  <nav>
    <div class="nav-wrapper light-blue darken-4">
      <a href="#" class="brand-logo yellow-text text-accent-4 text-lightest">The Beverage Viber</p></a>

      <!-- nav list -->
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <!-- modal trigger -->
        <li><a href="#modal1" class="waves-effect waves-light btn light-blue darken-1 modal-trigger">Hello There</a></li>
        <li><a href="#footer" class="waves-effect waves-light btn light-blue darken-1">About</a></li>
        <li><a href="#" class="waves-effect waves-light btn light-blue darken-1">Log In or Sign Up</a></li>
      </ul>

      <!-- hamburger menu trigger -->
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  <!-- main page content -->
  <main>
  <!-- parallax -->
    <div class="parallax-container">
      <div class="parallax"><img src="images/erol-ahmed-54hUU5pNSvo-unsplash.jpeg"></div>
    </div>
    <div class="section white">
      <div class="row container">
        <h2 class="header">The Beverage Viber</h2>
        <p class="grey-text text-darken-3 lighten-3">Because we have to make our coffee before we've had our coffee</p>
      </div>
    </div>
    <div class="parallax-container">
      <div class="parallax"><img src="images/eric-parks-TsNwtbCih0M-unsplash.jpeg"></div>
    </div>
  </main>
