<div class="section white">
  <!-- forms row -->
  <div class="row container forms-row">
    <!-- signup form -->
    <form class="col s12">
      <div class="row">
        <div class="col s12">
          <h3 class="header">Sign-Up</h3>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12 m8 l6">
          <input placeholder="enter a username.. " id="username-signup" type="text" class="validate">
          <label for="username-signup">Username <h6 style="display: inline;">must contain at least one Number</h6></label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12 m8 l6">
          <input placeholder="enter a password.. " id="password-signup" type="password" class="validate">
          <label for="password-signup">Password <h6 style="display: inline;">must contain: [Uppercase, Lowercase, Number, Character]</h6></label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12 m8 l6">
          <input placeholder="enter an email .." id="email-signup" type="email" class="validate">
          <label for="email-signup">Email</label>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <a id="form-signup" class="waves-effect waves-light btn light-blue darken-1">Sign Up!</a>
        </div>
      </div>
    </form>
    <!-- login form -->
    <form class="col s12">
      <div class="row">
        <div class="col s12">
          <h3 class="header">Log In</h3>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12 m8 l6">
          <input placeholder="enter your username .." id="username-login" type="text" class="validate">
          <label for="username-login">Username</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12 m8 l6">
          <input placeholder="enter your password .." id="password-login" type="password" class="validate">
          <label for="password-login">Password</label>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <a id="form-login" class="waves-effect waves-light btn light-blue darken-1">Log In</a>
        </div>
      </div>
    </form>
  </div>
</div>