{{!-- For the Suggestion Page, where the user can choose betweeen coffee, tea, or SURPRISE --}}
        <li><a href="/" class="waves-effect waves-light btn light-blue darken-1">Log Out</a></li>
      </ul>

      <!-- hamburger menu trigger -->
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  <!-- main page content -->
  <main>
    <!-- parallax -->
    <div class="parallax-container">
      <div class="parallax"><img src="images/erol-ahmed-54hUU5pNSvo-unsplash.jpeg"></div>
    </div>
    <div class="section white">
      <!-- card row -->
      <div class="beverage-row">

        <!-- coffee card -->
        <a href="/api/beverage/category/coffee">
        <div class="col s12">
          <div class="card col s12">
            <div class="card-image">
              <img src="https://images.unsplash.com/photo-1612509590595-785e974ed690?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=334&q=80">
              <span class="card-title">Coffee</span>
            </div>
          </div>
        </div>
        </a>
        <!-- tea card -->
        <a href="/api/beverage/category/tea">
        <div class="col s12">
          <div class="card col s12">
            <div class="card-image">
              <img src="https://images.unsplash.com/photo-1603199939607-5bd820dae3eb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=334&q=80">
              <span class="card-title">Tea</span>
            </div>
          </div>
        </div> 
        </a>
        <!-- surprise card -->
        <a href="/api/beverage/category/none">
        <div class="col s12">
          <div class="card col s12">
            <div class="card-image">
              <img src="https://images.unsplash.com/photo-1567020532898-c55684b92285?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80">
              <span class="card-title">Surpise Me</span>
            </div>
          </div>
        </div>
        </a>

      </div>
    </div>
    
  </main>