
/* fixed footer */
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

/* make text look cleaner */
.text-lightest  {
  font-weight: lighter;
}

.text-lighter {
  font-weight: 250;
}

.btn:hover {
  background-color: #40c4ff !important;
}

/* make sidenav closable on very narrow screens */
.sidenav {
  width: 250px;
}

/* CSS for making tiny bubbles of our photos */
.icon {
  border-radius: 50%;
  max-height: 50px;
  max-width: 60px;
  margin: 2px;
}

#icon-set {
  display: flex;
  flex-direction: row;
}

/* make full brand logo text visible on narrow viewports */
.brand-logo {
  width: fit-content;
}

@media screen and (min-width: 501px) {
  nav .brand-logo {
    margin-left: 10px;
  }
}

/* loginSignup styling */
label {
  font-size: x-large !important;
}

input {
  margin-top: 10px !important;
}

.card {
  margin: 20px;
  max-width: 400px;
}

/* beverage and suggest styling */
.beverage-row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 40px 20px;
}

.card-title {
  background-color: #00000050;
  font-weight: normal;
}

/* modal styling */
.modal {
  background-color: whitesmoke;
  max-height: 100%;
}

.modal-header, .modal-text h5 {
  text-align: center;
  color: #202020;
}

.modal-text h5, .modal-text p {
  line-height: 1.5;
}

.modal-text p {
  color: #302f2fc5;
  font-size: 1.1rem;
  font-style: italic;
}

.modal-column {
  display: flex;
  flex-direction: column;
}

.modal-footer {
  background-color: whitesmoke !important;
}

/* MEDIA QUERIES */

/* reduce font size and center content on narrow viewports */
@media screen and (max-width: 500px) {
  nav .brand-logo {
  font-size: 1.5rem;  
  }

  .parallax-container {
  height: 300px;
  }

  h2, h5, p, .footer-copyright div {
    text-align: center;
  }

  h2 {
    font-size: xx-large;
  }

  #icon-set {
    justify-content: center;
  }

  /* modal media query */
  .modal-header {
    font-size: 7vw;
  }

  .modal-text h5 {
    font-size: 4.5vw;
  }

  .modal-text p {
    font-size: 4vw;
  }

}

/* reduce font size further on very narrow viewports */
@media screen and (max-width: 363px) {
  nav .brand-logo {
    font-size: 1.45rem;
  }

  .modal-text p {
    font-size: 4vw;
  }
}